<h1>The thing: {{fooBar.property}}</h1>
{{#if isAuthenticated}}
  <h1>You are logged in! {{session.authenticated}}</h1>
{{/if}}
{{#list-filter
   filter=(action 'filterByCity')
   as |rentals|}}
  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li>{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}