<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
  <button class="button" {{action 'setTheThing'}}>Add thing</button>
  <button class="button" {{action 'loginUser'}}>Login</button>
</div>
{{outlet}}
